<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABSHIVINCHI | Explore My Portfolio</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
        <div class="navbar">
            <img id='top_logo' src="../static/Logo.png" alt="ABSHIVINCHI Logo" class="logo" />
            <nav>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="Portfolio">Portfolio</a></li>
            <li><a href="About">About Me</a></li>
            <li><a href="Contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
 
    <main>
      <section class="hero" id="home">
        <img id= 'Abshir_Photo' src="../static/Me.jpg" alt="Your Photo" class="hero-image" />
        <div class="hero-content">
          <h1>About Me</h1>
          <p>
            With over 5 years of experience in design, UX/UI, and front-end
            development, I am passionate about creating visually stunning and
            user-friendly websites. My expertise lies in translating complex
            ideas into intuitive designs that enhance the user experience. I
            have a proven track record of delivering exceptional results and
            exceeding client expectations. Let's collaborate and bring your
            vision to life!
          </p>
          <a href="../static/Abshir_Resume.pdf" class="btn-download">Download Resume</a>
        </div>
      </section>
    </main>
 
    <footer>
      <div class="footer-content">
          <img id= "Logo_2" src="../static/Logo.png" alt="ABSHIVINCHI Logo" class="footer-logo" />
          <nav>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="Portfolio">Portfolio</a></li>
            <li><a href="About">About Me</a></li>
            <li><a href="Contact">Contact</a></li>
          </ul>
        </nav>
        <div class="social-links">
          <a href="your-facebook-url"
            ><img src="../static/Facebook.png" alt="Facebook"
          /></a>
          <a href="your-instagram-url"
            ><img src="../static/Instagram.png" alt="Instagram"
          /></a>
          <a href="your-twitter-url"
            ><img src="../static/X.png" alt="Twitter"
          /></a>
          <a href="your-linkedin-url"
            ><img src="../static/Linkedin.png" alt="LinkedIn"
          /></a>
          <a href="your-youtube-url"
            ><img src="../static/Youtube.png" alt="YouTube"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>